body{
    margin: 0;
    padding: 0;
}
button{
    width: 30vw;
    height: 10vh;
    margin-top: 2vh;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}
.telamenu{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url("fundomenu.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.todosbotoes{
    margin-top: 38vh;
    text-align: center;
}
.musica{
    width: 6vw;
    height: 9vh;
    opacity: 0;
    cursor: pointer;
}
.musicadiv{
    width: 6vw;
    height: 9vh;
    margin-left: 2vw;
    background-image: url("musicaligada.jpg");
    background-size: 100% 100%;
}